[user]
	email = 4206970+traviscrist@users.noreply.github.com
	name = Travis Crist
[core]
	excludesfile = /home/travis/.gitignore
	editor = 'vim'
[branch]
	autosetuprebase = always
[diff]
	tool = meld
[merge]
	tool = meld
[mergetool "meld"]
	cmd = /usr/sbin/meld \"$LOCAL\" \"$MERGED\" \"$REMOTE\" --output \"$MERGED\"
[alias]
	up = pull --rebase --autostash

