body {
  background-color: #@@bg@@;
}
a {
  color: #@@fg@@;
  text-decoration: none;
}

#main {
  text-align: center;
}

#searchbar {
  background-color: #@@dblack@@;
  border: none;
  height: 28px;
  width: 40em;

  text-align: left;
  font-family: monospace;
  padding-left: 10px;
  color: #@@fg@@;
}

#searchbox {
  display: block;
  margin-top: 0px;
  width: 50em;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

#bookmarks {

  margin-top: 20%;
  height: 30%;

  text-align: left;
  font-family: monospace; 
  width: 50em;
  color: #@@fg@@;
  padding-left: 20px;

  margin-left: auto;
  margin-right: auto;
}

/* invisible submit */
#submit {
  border: none;
  background-color: #@@bg@@;
  color: #@@bg@@;

  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}
